{% extends 'base.html' %}
{% block contenido %}
<div class="row-fluid">

    <div class="span9">
    <p>Es de mi interés conocer el modo de ocurrencia de los terremotos en el Perú y sobre los procesos físicos que se desarrollan en la fuente sísmica. En ingeniería, conocer el peligro sísmico y su relación con el comportamiento dinámico de los suelos (sísmica, geofísica, geológica, tectónica, etc) y las estructuras. Asimismo, aplicar las técnicas de modelado numérico de tsunamis, para generar escenarios de base para la gestión del riesgo. La educación es una gran responsabilidad y la estamos asumiendo con paciencia y esfuerzo.</p>
    </div>
    <div class="span3"><img  width="185" alt="Hernan tavera" src="/static/img/tavera-hernan.jpg"></div>
</div>
<br>
<div class="container-fluid">
    <div class="span3 igp-panel-box">
        <p class="text-large"><a title="Catálogo de Biblioteca - IGP" target="_blank" href="#"> <img border="0" alt="" src="/static/img/logo-biblioteca.jpg"></a></p>
    </div>
    <div class="span3 igp-panel-box" >
        <p class="text-large"><a title="Buscador Cientifico" target="_blank" href="http://directorio.concytec.gob.pe/buscadorcientifico/#busquedaCtel"> <img border="0" alt="" src="/static/img/buscador-cientifico.jpg"></a></p>
    </div>
    <div class="span3 igp-panel-box" >
        <p class="text-large"><a title="Publicaciones IGP" target="_blank" href="#"> <img border="0" alt="" src="/static/img/publicaciones-igp.jpg"></a></p>
    </div>
    <div class="span3 igp-panel-box" >
        <p class="text-large"><a title="Eventos Cientificos" target="_blank" href="http://www.igp.gob.pe/portal/images/documents/daa/aa/eventose/calendarioact.pdf"> <img border="0" alt="" src="/static/img/eventos-cientificos.jpg"></a></p>
    </div>
</div>
<br>
{% endblock %}