{% extends 'base.html' %}
    {% block cabecera %}

          <h3>{{investigador.nombres}}, {{investigador.apellidos}}</h3>

    {% endblock %}
    {% block contenido %}

      <div class="art">
              <h4>Ficha Personal</h4>
              <div class="igp-block">
              <p>
                <span class="igp-panel-box">Resume </span>: {{ investigador.resumen }}
              </p>
              </div>
              <h4>Datos personales</h4>
              <div class="igp-block">
              <p>Web personal:  <a href="{{ investigador.web_personal }}" target="_blank">{{ investigador.web_personal }}</a></p>
              <p>Pais de Nacimiento:  {{ investigador.pais_nacimiento }}</p>
              <h5>Residencia</h5>
              <p> <span class="igp-panel-box">Pais: </span> {{ investigador.pais }}</p>
              <p> <span class="igp-panel-box">Región: </span> {{ investigador.region }}</p>
              <p> <span class="igp-panel-box">Provincia: </span> {{ investigador.provincia }}</p>
              <p> <span class="igp-panel-box">Distrito:</span>  {{ investigador.distrito }}</p>
              </div>
              <h4>Datos Académicos</h4>
              <div class="igp-block">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                    <th>Grado</th>
                    <th>Titulo</th>
                    <th>Centro de Estudios</th>
                    <th>País de estudios</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha finalizó</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <h4>Idiomas</h4>
              <div class="igp-block">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                    <th>Idioma</th>
                    <th>Letra</th>
                    <th>Conservación</th>
                    <th>Escritura</th>
                    <th>Lengua Materna</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
      </div>
      <hr />


    {% endblock %}
